
/* Add scrollbar to an element */
body {
    max-height: 200px; /* Set the maximum height of the element */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: #b4b1b1 #ededed; /* Set the color of the scrollbar thumb and track */
}

/* Customize scrollbar appearance for WebKit browsers */
body::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: #ededed; /* Set the color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background-color: #b4b1b1; /* Set the color of the scrollbar thumb */
    border-radius: 50px;
}

body:active::-webkit-scrollbar-thumb,
body:focus::-webkit-scrollbar-thumb,
body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.radius-20{
    border-radius: 20px
}

.main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 10px;
}

.card .card-body {
    padding: 0.8rem 0.8rem;
}

.color-warning:hover{
    color: #e8c94e;
}
.color-info:hover{
    color: #4ed1e8;
}
.color-success:hover{
    color: #4ee863;
}
.color-primary:hover{
    color: #4e72e8;
}
.color-danger:hover{
    color: #e84e65;
}
.cursor-not-allowed{
    cursor: not-allowed !important;
}

.dropdown-action:hover{
    background: #d8d8d8dd;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #B7B7B7DD;
}
.list-card-icon{
    background-color: #dbe3f3;padding: 8px 16px 0;border-radius: 5px
}

.logo-design{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: -1px;
    color: #031a61;
}

.logo-design span{
    color: #727cf5;
    font-weight: 300;
}

